<div class="drawer lg:drawer-open">
    <input id="app-sidebar" type="checkbox" class="drawer-toggle" />

    <!-- App Content -->
    <div class="drawer-content flex flex-col text-base-content">

        <!-- Mobile Header -->
        <app-mobile-header />
        
        <!-- App Router -->
        <div class=" p-5 lg:p-10">
            <router-outlet />
        </div>

    </div>

    <!-- Sidebar content here -->
    <div class="drawer-side">
        <label for="app-sidebar" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu text-base-content bg-base-100 min-h-full w-72 p-4 border-r-1 border-base-300">
          <li><a routerLink="/tools">Tools</a></li>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/graph">Graph</a></li>
          <li><a routerLink="/composer">Composer</a></li>     
        </ul>
    </div>

</div>