<app-header title="Tools">
    <button class="btn btn-neutral" id="add_button" onclick="def_modal.showModal()">
        Add New
    </button>
</app-header>

<dialog id="def_modal" class="modal">
  <div class="modal-box">
    <div class="flex flex-row justify-between">
        <h3 class="text-lg font-bold mb-4">Add New Tool</h3>
        <span class="text-xs text-accent-content">
            @if (loaded$ | async) {
                Updated: {{ lastLoaded$ | async | date: 'shortTime' }}
            }
            @else {
                Loading definitions...
            }
        </span>
    </div>
    
    <div class="tabs tabs-lift">
        <input type="radio" name="def_tabs" class="tab" aria-label="Official" checked="checked">
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <ul>
                @for (def of official$ | async; track def.info.name) {
                    <li>Name: {{def.info.name}}</li>
                }
                @empty {
                    <li>No Official Definitions Loaded</li>
                }
            </ul>
        </div>

        <input type="radio" name="def_tabs" class="tab" aria-label="Unofficial">
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <ul>
                @for (def of unofficial$ | async; track def.info.name) {
                    <li>Name: {{def.info.name}}</li>
                }
                @empty {
                    <li>No Unfficial Definitions Loaded</li>
                }
            </ul>
        </div>

        <input type="radio" name="def_tabs" class="tab" aria-label="Contributed">
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <ul>
                @for (def of contributed$ | async; track def.info.name) {
                    <li>Name: {{def.info.name}}</li>
                }
                @empty {
                    <li>No Contributed Definitions Loaded</li>
                }
            </ul>
        </div>
    </div>

    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn btn-neutral">Close</button>
      </form>
    </div>
  </div>
</dialog>